<%= render "shared/navbar" %>

<div class="home-banner">
  <p>
    <span id="banner-typed-text"></span>
  </p>
</div>


<p><%= "Lorem ipsum dolor sit amet, consectetur adipisicing elit " * 1000 %></p> 
